@{
    Layout = null;
}

<!DOCTYPE html>


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Requisition System</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="User Name" id="txtUsername" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" id="txtPassword" type="password" value="">
                                </div>
                                
                                <!-- Change this to a button or input when using this as a form -->
                                <a href="javascript:void(0);" class="btn btn-lg btn-success btn-block" id="btnLogin">Login</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <script>
    $(document).off("click", "#btnLogin").on("click", "#btnLogin", function (e) {
        $.ajax({
            url: '@Url.Action("Validate", "Login", new { area = "" })',
                type: 'GET',
                data: { username: $("#txtUsername").val().trim(), password: $("#txtPassword").val().trim() }
            }).done(function (data) {

                if (data.Success == 1) {

                    @*if(data.Role == 1) // admin user . Now circle user
                     {
                        window.location.href = "@Url.Action("Index", "CircleProfile", new { area = "" })";
                    }
                    else if(data.Role == 2) // district
                    {
                        window.location.href = "@Url.Action("Index", "DistrictProfile", new { area = "" })";
                    }
                    else {
                        window.location.href = "@Url.Action("Index", "UserProfile", new { area = "" })";
                    }*@

                    window.location.href = "@Url.Action("Index", "Dashboard", new { area = "" })";
                    
            }
            else {
                alert(data.Message);
            }
        });
    });
    </script>
</body>
</html>
