@model DistrictProfile
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">User Profile</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    User Profile
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="hidden" id="UserId" value="@GlobalSettings.oUserMaster.UserId" />

                            <div class="form-group">
                                <label>District Name</label>
                                <input class="form-control" id="UserName" value="@Model.DIstrictName" disabled>

                            </div>


                            <div class="form-group">
                                <label>UserName</label>
                                <input class="form-control" id="UserName" value="@GlobalSettings.oUserMaster.UserName" disabled>

                            </div>

                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" placeholder="Full Name" id="FullName" value="@GlobalSettings.oUserMaster.FullName">
                            </div>

                            <div class="form-group">
                                <label>Mobile No.</label>
                                <input type="text" class="form-control" placeholder="Mobile No." id="MobileNo" value="@GlobalSettings.oUserMaster.MobileNo" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onkeypress="validate_numeric(event)">
                            </div>

                            <div class="form-group">
                                <label>Email Id</label>
                                <input type="text" class="form-control" placeholder="Email Id" id="EmailId" value="@GlobalSettings.oUserMaster.EmailId">
                            </div>

                            <div style="text-align:center;">
                                <button type="submit" class="btn btn-success" id="savebtn">Submit</button> &nbsp;
                                <button type="reset" class="btn btn-primary">Reset</button>
                            </div>


                            @*<button type="submit" class="btn btn-default">Submit Button</button>
                                <button type="reset" class="btn btn-default">Reset Button</button>*@

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
</div>

<script src="@Url.Content("~/js/jquery.min.js")"></script>

<script>
    function validate_numeric(e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            e.preventDefault();
        }
    }
    function emailvalidate(e) {
        var b = /^[^@@\s]+@@[^@@\.\s]+(\.[^@@\.\s]+)+$/;
        return b.test(e);
    }


    $(document).off("click", "#savebtn").on("click", "#savebtn", function (e) {

        var jsonData = new Object();
        jsonData.UserId = ($("#UserId").val() * 1);

        jsonData.FullName = ($("#FullName").val().trim());
        jsonData.MobileNo = ($("#MobileNo").val().trim());
        jsonData.EmailId = ($("#EmailId").val().trim());


        var emailchk = emailvalidate($("#EmailId").val().trim());

        if ($("#FullName").val().trim() == "" || $("#MobileNo").val().trim() == "" || $("#EmailId").val().trim() == "") {
            alert("Please fill all details");
        }
        else if (emailchk == false) {
            alert("Please give proper Email Id");
        }
        else if ($("#MobileNo").val().trim().length != 10) {
            alert("Please give proper Mobile No");
        }


        else {

            $.ajax({
                url: "@Url.Action("UpdateProfile", "UserProfile", new { area = "" })",
                type: "POST",
                data: JSON.stringify(jsonData),
                contentType: "application/json"

            }).done(function (data) {

                if (data.Success > 0) {
                    alert(data.Message);
                    window.location.href = "@Url.Action("Index", "DistrictProfile", new { area = "" })";
                }
                else {
                    alert(data.Message);
                }
            });

        }


    });
</script>